<ion-modal-view>
	<ion-header-bar>
		<h1 class="title" ng-bind="currentChat.conversation.conversationName"></h1>
		<div class="buttons">
			<button class="button button-clear button-small" ng-click="showMenu.flag1 = !showMenu.flag1" style="color: #387ef5"><i class="icon ion-wrench"></i></button>
			<button class="button button-positive" ng-click="messageDetailsModal.remove()">关闭</button>
		</div>
	</ion-header-bar>
	<div id="menu" class="card list" style="margin: 0px 0px; position: absolute; right: 7px; top: 48px; width: 30%; z-index: 20;padding: 5px 10px 0px 10px;" ng-show="showMenu.flag1">
		<div ng-click="register()" class="lty-menu-item">注册</div>
		<div class="lty-menu-item">当前页分享</div>
		<div class="lty-menu-item">联系客服</div>
		<div class="lty-menu-item">举报</div>
	</div>
	<ion-content on-tap="showMenu.flag1 = false" class="rj-stable-content" delegate-handle="messageDetailsScroll">
		<div ng-include="'templates/messageList.html'" autoscroll="true"></div>
	</ion-content>
	<ion-footer-bar align-title="left" class="bar-light" resize-foot-bar>
		<!--<div class="rj-footer-btn-wrap">-->
		<!--<button class="button button-icon icon ion-ios-mic-outline rj-footer-btn-left">-->
		<!--</button>-->
		<!--</div>-->
		<div class="rj-footer-btn-wrap">
			<button class="button button-icon icon ion-ios-mic-outline rj-footer-btn-left">
			</button>
		</div>
		<label class="item item-input rj-footer-input">
			<textarea msd-elastic ng-model="send_content.message"></textarea>
			<div class="buttons">
				<button class="rj-footer-btn button button-icon icon ion-happy-outline"></button>
			</div>
		</label>
		<div class="rj-footer-btn-wrap">
			<div class="buttons" ng-show="!send_content.message || send_content.message === ''" ng-click="sendImageMessage()">
				<button class="button button-icon icon ion-ios-plus-outline rj-footer-btn-left">
				</button>
			</div>
			<div class="rj-send-button" ng-hide="!send_content.message || send_content.message === ''" ng-click="sendMessage(send_content.message)">
				<p>发送</p>
			</div>
		</div>
	</ion-footer-bar>
</ion-modal-view>