<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">个人资料</h1>
		<div class="buttons">
			<button class="button button-positive" ng-click="profileModal.remove()">关闭</button>
		</div>
	</ion-header-bar>
	<ion-content>
		<form>
			<div class="list">
				<label class="item item-input">
					<span class="input-label">头像</span>
					<img src="img/ben.png" style="max-width: 60px">
					<button class="button button-positive" style="line-height: 30px; font-size: 13px; min-height: 0px; margin-left: 20px" ng-click="selectPhoto()">上传头像</button>
				</label>
				<label class="item item-input">
					<span class="input-label">姓名</span>
					<input type="tel" ng-model="profile.name" disabled>
				</label>
				<label class="item item-input">
					<span class="input-label">昵称</span>
					<input type="tel" ng-model="profile.userName" disabled>
				</label>
				<label class="item item-input">
					<span class="input-label">性别</span>
					<input type="tel" ng-value="profile.gender ? '男':'女'" disabled>
				</label>
				<label class="item item-input">
					<span class="input-label">手机号</span>
					<input type="tel" ng-model="profile.phone" disabled>
				</label>
				<label class="item item-input">
					<span class="input-label">当前位置</span>
					<input type="text" disabled ng-value="'经度' + position.getLng().toFixed(4) + ' 纬度' +  position.getLat().toFixed(4)">
				</label>

			</div>
		</form>

		<div class="register-login-btn">
			<button class="button button-block button-positive" ng-click="logout()">注销</button>
		</div>
	</ion-content>
</ion-modal-view>