<ion-modal-view>
	<ion-header-bar align-title="left" class="bar-positive bar-lty">

		<button class="button button-clear button-small" ng-click="publishServiceInfoModal.remove()"><i class="icon ion-arrow-left-c"></i></button>
		<h1 class="title" style="left: 40px">我提供服务_用户来信</h1>
		<div class="buttons">
			<!--<button class="button button-positive" >关闭</button>-->
			<button class="button button-clear button-small button-menu" ng-if="!isLogin" style="margin-right: 10px">登录</button>
			<button class="button button-clear button-small button-menu" ng-if="isLogin" style="margin-right: 10px">
				<img ng-src="{{currentChat.user.photoValue}}">
			</button>
			<button class="button button-clear button-small" ng-click="showMenu.modalFlag1 = !showMenu.modalFlag1" ng-class="{true:'button-menu-outline', false:'button-menu'}[showMenu.modalFlag1]"><i class="icon ion-wrench"></i></button>
		</div>
	</ion-header-bar>
	<div id="menu" class="card list" style="margin: 0px 0px; position: absolute; right: 7px; top: 48px; z-index: 20;" ng-show="showMenu.modalFlag1">
		<div class="lty-menu-item" ng-click="myShare()">推荐本页给朋友</div>
		<div class="lty-menu-item">举报</div>
		<div class="lty-menu-item">联系客服</div>
		<div ng-click="register()" class="lty-menu-item">注册</div>
		<div ng-if="isLogin" class="lty-menu-item" ng-click="logout()">退出登录</div>
	</div>
	<div show-more morestyle="position: fixed; bottom: 0px"><ion-content class="scroll-area" on-tap="showMenu.modalFlag1 = false">
		<div class="item item-thumbnail-left lty-list-item" style="background-color: #fff !important;">
			<img ng-src="{{currentChat.user.photoValue}}">
			<div class="intro">
				<p class="name">{{loginUser.name | hideEmpty:'未发布'}}</p>
				<p class="description">电话: {{loginUser.phone}}</p>
				<p class="description">地址: {{loginUser.address | hideEmpty:"未发布"}}</p>
				<!--<p>{{result | distance:position}}</p>-->
			</div>
			<!--<i ng-if="!(followList.includes(result.id))" class="icon ion-android-favorite-outline positive second" ng-click="followService(result, $event)"></i>-->
			<!--<i ng-if="followList.includes(result.id)" class="icon ion-android-favorite positive second" ng-click="unfollowService(result, $event)"></i>-->

			<div class="operations">
				<div class="lty-distance">
					发布广告数共&nbsp
					<span style="color: #cc0404; font-weight: 900" ng-bind="myPublishServices.length"></span>&nbsp条
				</div>
				<div class="lty-distance">
					未读来信共&nbsp
					<span style="color: #cc0404; font-weight: 900" ng-bind="currentChat.conversationList|getUnreadNum:currentChat.user.id:null:myPublishServices">
					</span>&nbsp条
				</div>
				<div class="lty-publish-button" ng-click="showServiceModal()">
					发布新广告
				</div>
			</div>
		</div>
		<div style="margin: 8px 0;">
			<div class="lty-item-divider">
				{{publishServiceInfo.serviceLabelName + "_" + publishServiceInfo.thirdLabelName}}
				<div style="float: right">{{publishServiceInfo.follownum}}人关注</div>
			</div>
			<div style="position: relative; border-top: solid 2px #c3c3c3" show-more morestyle="width: 20px; right: 0px; bottom: 0px">
				<div class="text-area scroll-area">
					<p ng-bind-html="publishServiceInfo.title"></p>
					<p ng-bind-html="publishServiceInfo.slogan"></p>
				</div>
			</div>
			<div style="position: relative; border-bottom: solid 2px #c3c3c3" class="img-list" >
				<div get-svc-pic-list service="publishServiceInfo">
					<img ng-repeat="item in publishServiceInfo.pictureImageValue track by $index" ng-src="{{item.picture}}">
				</div>
				<div style="margin-top: 10px; display: flex; text-align: right; line-height: 15px; color: #6a6a6a; font-size: 13px">
					<div style="display: table-cell; text-align: left; width: 100%; ">已发布: {{publishServiceInfo.datetime|daysToNow}}天</div>
					<div style="display: table-cell; text-align: right; white-space: nowrap">平均答复用户时间: 33天</div>
				</div>
				<div style="margin-top: 20px">
					<div style="display: inline-block">
						<div class="lty-publish-button">
							用户来信
						</div>
						<div class="round-tag" style="width: 20px; height: 20px; display: inline-block" ng-bind="currentChat.conversationList|getUnreadNum:currentChat.user.id:null:publishServiceInfo.id"></div>
					</div>
					<div style="display: inline-block;float:right">
						<div class="lty-publish-button" ng-click="showModifyServiceModal(publishServiceInfo, $event)">
							修改广告
						</div>
						<div class="lty-publish-button" ng-click="showDeleteServiceConfirm(publishServiceInfo, $event)">
							删除广告
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="list">
			<ion-list rj-close-back-drop>
				<ion-item class="item-avatar" on-hold="popupMessageOpthins(message)" rj-hold-active ng-repeat="conversation in currentChat.conversationList | getServiceConversations : publishServiceInfo.id" ng-click="showMessageDetails(conversation)" >
					<img ng-src="{{conversation.conversationPhoto}}" style="border-radius: 5px" get-name-photo="{{conversation | getConversationName:currentChat.user.id}}" dest="conversation">
					<span class="rj-sm-red-icon" ng-if="conversation.unreadMessagesCount > 0"><p ng-bind="conversation.unreadMessagesCount"></p></span>
					<h2 ng-bind="conversation.conversationName"></h2>
					<p class="rj-list-p" ng-bind="conversation.lastMessage._lctext" ng-if="conversation.lastMessage.type == -1"></p>
					<p class="rj-list-p" ng-if="conversation.lastMessage.type == -2">图片</p>
					<span class="rj-push-right" ng-bind="conversation.lastMessage.timestamp | getMessageTime"></span>
				</ion-item>
			</ion-list>

		</div>
	</ion-content></div>
</ion-modal-view>