<ion-modal-view name="new-modify-service">
	<div ng-if="mode == 'new'">
		<ion-header-bar align-title="left" class="bar-positive bar-lty">
			<button class="button button-clear button-small" ng-click="serviceModal.remove()"><i class="icon ion-arrow-left-c"></i></button>
			<h1 class="title">我提供服务_发布</h1>
			<div class="buttons">
				<button class="button button-clear button-small button-menu" name="login-menu-button" ng-if="!isLogin" style="margin-right: 10px" ng-click="showMenuLogin('ion-modal-view[name=\'new-modify-service\'] div[ng-include]>.login-popup',$event)">登录</button>
				<button class="button button-clear button-small button-menu" ng-if="isLogin" style="margin-right: 10px">
					<img ng-src="{{currentChat.user.photoValue}}">
				</button>
				<button class="button button-clear button-small" ng-click="showMenu.modalFlag2 = !showMenu.modalFlag2" ng-class="{true:'button-menu-outline', false:'button-menu'}[showMenu.modalFlag2]"><i class="icon ion-wrench"></i></button>
			</div>
		</ion-header-bar>
		<div ng-include="'templates/loginPopup.html'"></div>
		<div class="card list" style="margin: 0px 0px; position: absolute; right: 7px; top: 48px; z-index: 20;" ng-show="showMenu.modalFlag2">
			<div class="lty-menu-item" ng-click="myShare()">推荐本页给朋友</div>
			<div class="lty-menu-item" ng-click="showReportModal('')">举报</div>
			<div class="lty-menu-item">联系客服</div>
			<div ng-click="register()" class="lty-menu-item">注册</div>
			<div ng-if="isLogin" class="lty-menu-item" ng-click="logout()">退出登录</div>
		</div>
		<ion-content>
			<div class="cover-layer" ng-if="!isLogin" onclick="function toggleLogin(event){$('button[name=\'login-menu-button\']').click();event.stopPropagation()}; toggleLogin(event)"></div>
			<div class="new-service">
				<div style="display: inline-block; position: relative" >
					<img ng-src="{{newService.userInfo.photoValue}}" class="photo" on-hold="selectPhoto(newService.userInfo)">
					<img src="img/imageHint.png" class="photo-hint" ng-if="currentChat.user.photoNo <= 1">
				</div>
				<div>
					<input type="text" placeholder="我的名字" ng-model="newService.userInfo.name" style="text-align: center; font-size: 17px; width: 30%; margin-top: 10px">
				</div>
				<div style="position: relative">
					<input type="text" placeholder="请输入地址" style="font-size: 17px; width: 100%; margin-top: 10px;" ng-model="newService.userInfo.address">
					<icon class="icon ion-checkmark-circled input-icon" style="position: absolute; right: 5px; top: 0px; line-height: 30px"></icon>
				</div>
				<div  class="label-selector">
					<div onclick="$('.publish-select-label').toggle()">
						<span>服务类别选择</span><div class="triangle"></div>
						<span style="color: #656565">
							{{newService.basicLabel.type + (newService.serviceLabel.id?'_':'') + newService.serviceLabel.type + (newService.thirdLabel.id?'_':'') + newService.thirdLabel.type}}
						</span>
						<icon class="icon ion-checkmark-circled input-icon" style="float: right"></icon>
					</div>
					<div class="publish-select-label" style="display: none">
						<div class="label-column" style="padding-right: 8px">
							<!--<div class="label-column-list" ng-init="newService.basicLabel = labels[0]">-->
							<div class="label-column-list">
								<div class="publish-label-item" ng-repeat="basicLabel in labels" ng-click="selectBasicLabel(newService, basicLabel, $event);" ng-class="{true:'red-border'}[newService.basicLabel == basicLabel]">{{basicLabel.type}}</div>
							</div>
							<div class="publish-triangle" id="publish-triangle1" style="top:2px; right:-4px"></div>

						</div>
						<div class="label-column" style="padding-right: 4px; padding-left: 4px">
							<!--<div class="label-column-list" id="label-column-list2" ng-init="newService.serviceLabel = newService.basicLabel.serviceLabel[0]">-->
							<div class="label-column-list" id="label-column-list2">
								<div class="publish-label-item" ng-repeat="serviceLabel in newService.basicLabel.serviceLabel" ng-click="selectServiceLabel(newService, serviceLabel, $event)" ng-class="{true:'red-border'}[newService.serviceLabel == serviceLabel]">{{serviceLabel.type}}</div>
							</div>
							<div class="publish-triangle" id="publish-triangle2" style="top:2px; right:-8px"></div>

						</div>
						<div class="label-column" id="label-column3" style="padding-left: 8px">
							<!--<div class="label-column-list" id="label-column-list3" ng-init="newService.thirdLabel = newService.serviceLabel.thirdLabel[0]">-->
							<div class="label-column-list" id="label-column-list3">
								<div class="publish-label-item" ng-repeat="thirdLabel in newService.serviceLabel.thirdLabel" ng-click="newService.thirdLabel = thirdLabel" ng-class="{true:'red-border'}[newService.thirdLabel == thirdLabel]">{{thirdLabel.type}}</div>
							</div>
						</div>
					</div>

				</div>
				<div  class="service-title">
					<div>服务广告标题: </div>
					<textarea type="text" maxlength="20" ng-model="newService.title"></textarea>
					<div class="word-count" ng-bind="(newService.title.length?newService.title.length:0) + '/20'"></div>
				</div>

				<div class="service-details">
					<div>服务广告详情: </div>
					<textarea type="text" ng-model="newService.slogan"></textarea>
				</div>

				<div class="media-list">
					<img ng-repeat="item in newService.pictureImageValue track by $index" ng-src="{{'data:image/jpeg;base64,' + item}}">
					<button ng-click="selectNewSvcPic(newService.pictureImageValue)"><img src="img/addPicture.png"></button>
					<button><img src="img/addVideo.png"></button>
				</div>

				<div class="publish-phone" ng-init="newService.phonenum = true">
					<input type="text" ng-model="currentChat.user.phone" disabled placeholder="请输入手机号" style="margin-left: 0 !important; text-align: center; width: 120px">
					<div style="color: #333;">在广告中公布手机号码: </div>
					<div ng-class="{true:'lty-publish-button', false: 'lty-publish-button-outline'}[newService.phonenum==true]" ng-click="newService.phonenum = true">是</div>
					<div ng-class="{false:'lty-publish-button', true: 'lty-publish-button-outline'}[newService.phonenum==true]" ng-click="newService.phonenum = false">否</div>
				</div>

				<div class="get-checknum" style="margin-top: 10px">
					<div class="lty-publish-button" style="height: 30px; display: inline-block; line-height: 26px;">获取验证码</div>
					<input type="number" style="margin-left: 10px; text-align: center; width:80px; display: inline-block" placeholder="输入验证码">
				</div>

				<div style="margin-top: 10px; color: #333">
					<input type="checkbox" value="Remember Me" ng-model="agree" style="vertical-align: middle">  我同意<a href="#" style="color: #333">"用户条款"</a>
				</div>

				<button ng-click="publishService()" ng-disabled="!agree || !newServiceButtonState" class="button button-positive button-small" style="margin-top:20px; padding: 5px 10px; line-height: 15px; font-size: 15px;margin-bottom: 30px">
					发布
				</button>
			</div>

			<form ng-if="false">
				<div class="list">
					<label class="item item-input item-select">
						<span class="input-label">一级服务标签</span>
						<select ng-init="newService.basicLabel = labels[0]" ng-model="newService.basicLabel" ng-options="label.type for label in labels track by label.id" ng-change="newService.serviceLabel = newService.basicLabel.serviceLabel[0]">
						</select>
					</label>
					<label class="item item-input item-select">
						<span class="input-label">二级服务标签</span>
						<select ng-init="newService.serviceLabel = newService.basicLabel.serviceLabel[0]" ng-model="newService.serviceLabel" ng-options="service.type for service in newService.basicLabel.serviceLabel" ng-change="newService.thirdLabel = newService.serviceLabel.thirdLabel[0]">
						</select>
					</label>
					<label class="item item-input item-select">
						<span class="input-label">三级服务标签</span>
						<select ng-init="newService.thirdLabel = newService.serviceLabel.thirdLabel[0]" ng-model="newService.thirdLabel" ng-options="third.type for third in newService.serviceLabel.thirdLabel">
						</select>
					</label>
					<!--<label class="item item-input">-->
						<!--<span class="input-label">经度</span>-->
						<!--<input type="number" ng-model="newService.longitude" ng-value="position.longitude">-->
					<!--</label>-->
					<!--<label class="item item-input">-->
						<!--<span class="input-label">纬度</span>-->
						<!--<input type="number" ng-model="newService.latitude" ng-value="position.latitude">-->
					<!--</label>-->
					<label class="item item-input">
						<span class="input-label">地址</span>
						<input type="text" ng-model="newService.address" ng-init="newService.address = currentPosition.address">
					</label>
					<label class="item item-input">
						<span class="input-label">广告图片</span>
						<img style="max-width: 80px">
						<button class="button button-positive" style="line-height: 30px; font-size: 13px; min-height: 0px; margin-left: 20px" ng-click="selectNewSvcPic()">上传图片</button>
					</label>
					<label class="item item-input">
						<span class="input-label">广告语</span>
						<input type="text" ng-model="newService.slogan">
					</label>
				</div>
			</form>
		</ion-content>
	</div>

	<div ng-if="mode == 'modify'">
		<ion-header-bar align-title="left" class="bar-positive bar-lty">
			<button class="button button-clear button-small" ng-click="serviceModal.remove()"><i class="icon ion-arrow-left-c"></i></button>
			<h1 class="title">我提供服务_修改</h1>
			<div class="buttons">
				<button class="button button-clear button-small button-menu" name="login-menu-button" ng-if="!isLogin" style="margin-right: 10px" ng-click="showMenuLogin('ion-modal-view[name=\'new-modify-service\'] div[ng-include]>.login-popup',$event)">登录</button>
				<button class="button button-clear button-small button-menu" ng-if="isLogin" style="margin-right: 10px">
					<img ng-src="{{currentChat.user.photoValue}}">
				</button>
				<button class="button button-clear button-small" ng-click="showMenu.modalFlag2 = !showMenu.modalFlag2" ng-class="{true:'button-menu-outline', false:'button-menu'}[showMenu.modalFlag2]"><i class="icon ion-wrench"></i></button>
			</div>
		</ion-header-bar>
		<div class="card list" style="margin: 0px 0px; position: absolute; right: 7px; top: 48px; z-index: 20;" ng-show="showMenu.modalFlag2">
			<div class="lty-menu-item" ng-click="myShare()">推荐本页给朋友</div>
			<div class="lty-menu-item" ng-click="showReportModal('')">举报</div>
			<div class="lty-menu-item">联系客服</div>
			<div ng-click="register()" class="lty-menu-item">注册</div>
			<div ng-if="isLogin" class="lty-menu-item" ng-click="logout()">退出登录</div>
		</div>
		<ion-content>
			<div class="new-service">
				<img ng-src="{{currentChat.user.photoValue}}" class="photo">
				<div>
					<input type="text" placeholder="我的名字" ng-model="currentChat.user.name" style="text-align: center; font-size: 17px; width: 30%; margin-top: 10px" disabled>
				</div>
				<div style="position: relative">
					<input type="text" placeholder="请输入地址" style="font-size: 17px; width: 100%; margin-top: 10px" ng-model="modifyService.address">
					<icon class="icon ion-checkmark-circled input-icon" style="position: absolute; right: 5px; top: 0px; line-height: 30px"></icon>
				</div>
				<div  class="label-selector">
					<div onclick="$('.publish-select-label').toggle()">
						<span>服务类别选择</span><div class="triangle"></div>
						<span style="color: #656565">{{modifyService.basicLabel.type + '_' + modifyService.serviceLabel.type + '_' + modifyService.thirdLabel.type}}</span>
						<icon class="icon ion-checkmark-circled input-icon" style="float: right"></icon>
					</div>
					<div class="publish-select-label" style="display: none">
						<div class="label-column" style="padding-right: 8px">
							<div class="label-column-list" >
								<div class="publish-label-item" ng-repeat="basicLabel in labels" ng-click="selectBasicLabel(modifyService, basicLabel, $event);" ng-class="{true:'red-border'}[modifyService.basicLabel == basicLabel]">{{basicLabel.type}}</div>
							</div>
							<div class="publish-triangle" id="publish-triangle1" style="top:2px; right:-4px"></div>

						</div>
						<div class="label-column" style="padding-right: 4px; padding-left: 4px">
							<div class="label-column-list" id="label-column-list2" >
								<div class="publish-label-item" ng-repeat="serviceLabel in modifyService.basicLabel.serviceLabel" ng-click="selectServiceLabel(modifyService, serviceLabel, $event)" ng-class="{true:'red-border'}[modifyService.serviceLabel == serviceLabel]">{{serviceLabel.type}}</div>
							</div>
							<div class="publish-triangle" id="publish-triangle2" style="top:2px; right:-8px"></div>

						</div>
						<div class="label-column" id="label-column3" style="padding-left: 8px">
							<div class="label-column-list" id="label-column-list3" >
								<div class="publish-label-item" ng-repeat="thirdLabel in modifyService.serviceLabel.thirdLabel" ng-click="modifyService.thirdLabel = thirdLabel" ng-class="{true:'red-border'}[modifyService.thirdLabel == thirdLabel]">{{thirdLabel.type}}</div>
							</div>
						</div>
					</div>
				</div>
				<div  class="service-title">
					<div>服务广告标题: </div>
					<textarea type="text" ng-model="modifyService.title" ng-change="modifyService.title = modifyService.title.substring(0,20)"></textarea>
					<div class="word-count" ng-bind="(modifyService.title.length?modifyService.title.length:0) + '/20'"></div>
				</div>

				<div class="service-details">
					<div>服务广告详情: </div>
					<textarea type="text" ng-model="modifyService.slogan"></textarea>
				</div>

				<div class="media-list" get-svc-pic-list service="modifyService">
					<div ng-repeat="item in modifyService.pictureImageValue track by $index" style="display: inline-block;position: relative">
						<img ng-src="{{item.picture}}" style="border: 2px #8a8a8a dashed; border-radius: 5px">
						<i class="icon ion-close delete-img" ng-click="addDelList(modifyService.pictureImageValue,$index,modifyService.forDelete,$event)"></i>
					</div>
					<div ng-repeat="item in modifyService.forUpload track by $index" style="display: inline-block;position: relative">
						<img ng-src="{{'data:image/jpeg;base64,' + item}}">
						<i class="icon ion-close delete-img" ng-click="deletImgFromList(modifyService.forUpload, $index, $event)"></i>
					</div>
					<button ng-click="selectNewSvcPic(modifyService.forUpload)"><img src="img/addPicture.png"></button>
					<button><img src="img/addVideo.png"></button>
				</div>

				<div class="publish-phone">
					<input type="text" ng-model="currentChat.user.phone" disabled placeholder="请输入手机号" style="margin-left: 0 !important; text-align: center; width: 120px">
					<div style="color: #333;">在广告中公布手机号码: </div>
					<div ng-click="modifyService.phonenum = true" ng-class="{true:'lty-publish-button', false: 'lty-publish-button-outline'}[modifyService.phonenum==true]">是</div>
					<div ng-click="modifyService.phonenum = false" ng-class="{false:'lty-publish-button', true: 'lty-publish-button-outline'}[modifyService.phonenum==true]">否</div>
				</div>


				<button ng-click="commitModifyService(modifyService)" class="button button-positive button-small" style="margin-top:20px; padding: 5px 10px; line-height: 15px; font-size: 15px; margin-bottom: 30px">
					完成
				</button>
			</div>

			<form ng-if="false">
				<div class="list">
					<label class="item item-input">
						<span class="input-label">服务类型</span>
						<input type="text" ng-model="modifyService.serviceLabelName" disabled>
					</label>
					<label class="item item-input">
						<span class="input-label">经度</span>
						<input type="number" ng-model="modifyService.longitude">
					</label>
					<label class="item item-input">
						<span class="input-label">纬度</span>
						<input type="number" ng-model="modifyService.latitude">
					</label>
					<label class="item item-input">
						<span class="input-label">广告语</span>
						<input type="text" ng-model="modifyService.slogan">
					</label>
					<label class="item item-input">
						<span class="input-label">广告图片</span>
						<img get-svc-pic pic-id="{{modifyService.id}}" style="max-width: 80px">
						<button class="button button-positive" style="line-height: 30px; font-size: 13px; min-height: 0px; margin-left: 20px" ng-click="selectServicePicture(modifyService)">上传图片</button>
					</label>
					<label class="item item-input">
						<span class="input-label">广告视频</span>
						<p style="display: inline" ng-if="modifyService.video=='' || modifyService.video==null">还未上传</p>
						<button class="button button-positive" ng-if="!(modifyService.video=='' || modifyService.video==null)" style="line-height: 30px; font-size: 13px; min-height: 0px; margin-left: 20px">查看视频</button>
						<button class="button button-positive" ng-click="selectServiceVideo(modifyService)" style="line-height: 30px; font-size: 13px; min-height: 0px; margin-left: 20px">上传视频</button>
					</label>
				</div>
				<button class="button button-block button-positive" style="width: 80%; margin: 0 auto" ng-click="commitModifyService(modifyService)">保存修改</button>
			</form>
		</ion-content>
	</div>
</ion-modal-view>