<!-- <ion-header-bar align-title="left" class="bar-positive">
  <div class="h1 title">学车-搜索</div>
  <div class="buttons">
      <button class="button no-animation button-icon icon ion-android-search">
      </button>
      <button class="button no-animation button-icon icon ion-android-add">
      </button>
  </div>
</ion-header-bar> -->

<ion-view view-title="我的收藏">
	<ion-nav-buttons side="right">
		<button class="button button-clear button-small" ng-click="showMenu.flag = !showMenu.flag" style="font-size: 8px !important;"><i class="icon ion-wrench" style="font-size: 8px !important;"></i></button>
	</ion-nav-buttons>
	<div id="menu" class="card list" style="margin: 0px 0px; position: absolute; right: 7px; top: 48px; width: 30%; z-index: 20;padding: 5px 10px 0px 10px;" ng-show="showMenu.flag">
		<div ng-click="register()" class="lty-menu-item">注册</div>
		<div ng-if="isLogin" class="lty-menu-item" ng-click="logout()">注销</div>
		<div ng-if="!isLogin" class="lty-menu-item" ng-click="login()">登录</div>
		<div class="lty-menu-item">当前页分享</div>
		<div class="lty-menu-item">联系客服</div>
		<div class="lty-menu-item">举报</div>
	</div>
	<ion-content on-tap="showMenu.flag = false">
		<div class="list">
			<div ng-repeat = "item in myFollowServices">
				<div class="item item-divider">
					<label>{{item.address}} &nbsp附近</label>
				</div>
				<div class="item item-thumbnail-left lty-list-item" ng-repeat="service in item.services | sortByDistance:position" ng-click="showUserServiceInfoModal(service)">
					<img get-svc-pic pic-id="{{service.id}}">
					<div style="display: inline-block; width: auto;">
						<h2>{{service.serviceLabelName}}</h2>
						<p>{{service.slogan}}</p>
						<p>发布人 {{service.userName}}</p>
						<p style="display: inline">聊天消息:</p>
						<p style="display: inline" ng-bind="currentChat.conversationList | getLastMessage:service.id:service.userName:currentChat.user.userName"></p>

						<!--<p>{{result | distance:position}}</p>-->
					</div>
					<!--<i ng-if="!(followList.includes(result.id))" class="icon ion-android-favorite-outline positive second" ng-click="followService(result, $event)"></i>-->
					<!--<i ng-if="followList.includes(result.id)" class="icon ion-android-favorite positive second" ng-click="unfollowService(result, $event)"></i>-->

					<div style="position: absolute; right: 13px; height: 80%; width: 30%; top: 10%; text-align: right; z-index: 800">
						<div class="lty-operation-button">{{service.distance | distance}}</div>
						<div class="lty-operation-button">
							工商部门认定
							<i class="icon ion-chatboxes positive" style="font-size: 25px; vertical-align: middle"></i>
						</div>
						<div class="lty-operation-button"  ng-click="unfollowService(service, $event)">
							<div style="display: inline; z-index: 999">
								取消关注
								<i class="icon ion-android-favorite positive " style="font-size: 25px; vertical-align: middle"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
