<ion-view view-title="找教练">

<!--   <ion-nav-bar class="bar-positive">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
 -->
  <ion-content>
    <div class="list">

      <!-- <div class="item item-divider item-button-right">
        <span class="input-label">分类搜索</span>
        <button class="button button-clear button-positive">
          <i class="icon ion-ios-search"></i>
        </button>
      </div> -->

      <div class="item item-divider">
        分类搜索
      </div>

      <a class="item" href="#">
          <form id="typeSearchForm" name="typeSearchForm" ng-submit="doSearch()">
            <div class="list">
              <label class="item item-input item-select">
                <span class="input-label">车型</span>
                <select ng-model="typeSearch.cartype">
                    <option ng-repeat="n in cartype" value="{{n}}">{{n}}</option>
                </select>
              </label>
              <label class="item item-input item-select">
                <span class="input-label">资质</span>
                <select ng-model="typeSearch.level">
                    <option ng-repeat="n in level" value="{{n}}">{{n}}</option>
                </select>
              </label>
              <label class="item item-input item-select">
                <span class="input-label">语言</span>
                <select ng-model="typeSearch.language">
                    <option ng-repeat="n in language" value="{{n}}">{{n}}</option>
                </select>
              </label>
              <label class="item item-input item-select">
                <span class="input-label">性别</span>
                <select ng-model="typeSearch.gender">
                    <option ng-repeat="n in gender" value="{{n}}">{{n}}</option>
                </select>
              </label>
            </div>
          </form>
      </a>

      <div class="item item-divider">
        关键字搜索
      </div>

      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="输入关键字">
        </label>
        <button class="button button-small button-positive button-outline" ng-click="searchBtnClicked()">
          确定
        </button>

        <!-- <a class="button button-icon icon ion-search"></a> -->
      </div>
    

      <div class="item item-divider">
        区域搜索
      </div>

      <a class="item" href="#">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" placeholder="输入地址">
        </label>

        <baidu-map options="mapOptions" ak="BV1sD84OhA6nPuydiTGEqDKMkt0ojwMF" offline="offlineOpts" style="width: 100%; height: 300px;display: block;" on-map-loaded="mapLoaded(map)">
        </baidu-map>
      </a>
    </div>
     <!--  <div class="item item-divider">
        关键字搜索
      </div>

      <a class="item" href="#/tab/searchresult">
        Butterfinger
      </a> -->

<!--     <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/searchresult">
        <h2>haha</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list> -->
    
  </ion-content>
</ion-view>
