<ion-view view-title="找人服务我">

    <ion-nav-buttons side="right">
        <!--<button ng-show="isLogin()" class="button button-clear button-small" ng-click="register()">注册-->
        <!--</button>-->
	    <button class="button button-clear button-small button-menu" ng-if="!isLogin" style="margin-right: 10px" ng-click="showMenuLogin('ion-view>div[ng-include]>.login-popup',$event)" name="login-menu-button">登录</button>
	    <button class="button button-clear button-small button-menu" ng-if="isLogin" style="margin-right: 10px">
		    <img ng-src="{{currentChat.user.photoValue}}">
	    </button>
	    <button class="button button-clear button-small" ng-click="showMenu.flag = !showMenu.flag" ng-class="{true:'button-menu-outline', false:'button-menu'}[showMenu.flag]"><i class="icon ion-wrench"></i>
	    </button>
    </ion-nav-buttons>
	<ion-nav-buttons side="left">
		<!--<button ng-show="isLogin()" class="button button-clear button-small" ng-click="register()">注册-->
		<!--</button>-->
		<button class="button button-clear button-small"><i class="icon ion-ios-search-strong"></i>
		</button>
	</ion-nav-buttons>

	<div ng-include="'templates/loginPopup.html'"></div>
	<div id="menu" class="card list" style="margin: 0px 0px; position: absolute; right: 7px; top: 48px; z-index: 20;" ng-show="showMenu.flag">
		<div class="lty-menu-item" ng-click="myShare()">推荐本页给朋友</div>
		<div class="lty-menu-item" ng-click="showReportModal('')">举报</div>
		<div class="lty-menu-item">联系客服</div>
		<div ng-click="register()" class="lty-menu-item">注册</div>
		<div ng-if="isLogin" class="lty-menu-item" ng-click="logout()">退出登录</div>
	</div>
	<div class="list" style="margin-top: 44px; margin-bottom: 0px">
		<div class="item item-input-inset">
			<div class="item-input-wrapper">
				<input type="text" placeholder="定位中..." ng-model="searchPosition.address" style="width: 100%">
				<i class="icon ion-close-circled input-icon" style="margin-left: 8px; line-height: 30px" ng-click="searchPosition.address=''" ng-if="currentPosition.address==searchPosition.address && searchPosition.address"></i>
				<i class="icon ion-checkmark-circled input-icon" style="margin-left: 8px; line-height: 30px" ng-hide="currentPosition.address==searchPosition.address && searchPosition.address"></i>
			</div>
			<label style="padding-left: 5px">
				附近
			</label>
		</div>
	</div>
	<div show-more morestyle="position: fixed"><ion-content on-tap="showMenu.flag=false;" style="top: 87px;" id="content" delegate-handle="search-scroll" class="scroll-area" ng-click="closeLogin()">
        <div class="list">
	        <div class="item">
		        <form name="typeSearchForm" id="typeSearchForm" style="position: relative">
			        <div class="list" style="margin-bottom: 0px">
				        <div class="item item-input" ng-repeat="label in labels">
					        <span class="input-label" style="width: 25%; white-space: normal">{{label.type}}</span>
					        <div style="white-space: normal; width: 75%">
						        <div ng-repeat="serviceLabel in label.serviceLabel" class="type-label" ng-click="getElementPosition($event,serviceLabel)" ng-class="{true: 'select-label'}[selectSvcId == serviceLabel.id]">
							        {{serviceLabel.type}}
						        </div>
					        </div>
				        </div>
			        </div>
			        <div class="float-window" id="float-window" style="display: none">
				        <div id="float-triangle">
					        <div class="triangle"></div>
					        <div class="triangle" style="border-bottom-color: white; margin-top: -11px"></div>
				        </div>
				        <div style="margin-left: 5px; margin-bottom: 2px; white-space: normal">
					        <div class="type-label" ng-repeat="item in thirdLabel" ng-click="searchByLabelAndPosition(item)">
						        {{item.type}}
					        </div>
				        </div>
			        </div>
		        </form>
	        </div>

            <div class="item item-input-inset">
	            <label style="padding-right: 5px">
		            或
	            </label>
                <label class="item-input-wrapper" style="flex: 100 0; min-width: 0">
                    <input type="text" placeholder="输入关键词找人" ng-model="searchWord.content" style="width: 100%">
                </label>
				<div style="width: 35px; text-align: center; flex:1 0; padding: 0px 5px">
	                <i class="icon ion-search" ng-click="searchByWord()" style="font-size: 25px;"></i>
				</div>
                <!-- <button class="button button-small button-positive button-outline" ng-click="login()">
                    login
                </button> -->
                <!-- <a class="button button-icon icon ion-search"></a> -->
            </div>

        </div>
    </ion-content></div>
</ion-view>
