<ion-view view-title="我的发布">
	<ion-nav-buttons side="right">
		<button class="button button-clear button-small" ng-click="showServiceModal()" ng-show="!isLogin()">新服务
		</button>
	</ion-nav-buttons>
    <ion-content>
        <div class="list card">
            <div class="item item-avatar item-icon-right" ng-click="showProfileModal()">
                <img ng-src="{{userProfile}}" ng-click="editProfile()">
                 <!--<img src="http://202.120.40.175:21181/student/getphoto?phone=18116214088">-->
                <h2>{{loginUser.userName}}</h2>
                <p>{{loginUser.description}}</p>
                <i class="icon fa fa-qrcode" aria-hidden="true"></i>
                <p>当前位置: 经度{{position.getLng().toFixed(4)}} 纬度{{position.getLat().toFixed(4)}}</p>
            </div>

        <!--<div class="list">-->
                <!--<a class="item item-avatar" href="#">-->
                    <!--<img src="img/adam.jpg">-->
                    <!--<span class="rj-sm-red-icon" ng-show="true"><p ng-bind="1"></p></span>-->
                    <!--<h2>Venkman</h2>-->
                    <!--<p>Back off, man. I'm a scientist.</p>-->
                    <!--<span class="rj-push-right">2016</span>-->
                <!--</a>-->
                <!--<a class="item item-avatar" href="#">-->
                    <!--<img src="img/adam.jpg">-->
                    <!--<span class="rj-sm-red-icon" ng-show="true"><p ng-bind="1"></p></span>-->
                    <!--<h2>Venkman</h2>-->
                    <!--<p>Back off, man. I'm a scientist.</p>-->
                    <!--<span class="rj-push-right">2016</span>-->
                <!--</a>-->
                <!--<a class="item item-avatar" href="#">-->
                    <!--<img src="img/adam.jpg">-->
                    <!--<span class="rj-sm-red-icon" ng-show="true"><p ng-bind="1"></p></span>-->
                    <!--<h2>Venkman</h2>-->
                    <!--<p>Back off, man. I'm a scientist.</p>-->
                    <!--<span class="rj-push-right">2016</span>-->
                <!--</a>-->
        <!--</div>-->

        <!--<ion-list rj-close-back-drop ng-show="!isShow()">-->
                <!--<ion-item class="item-avatar" ng-class="{'rj-item-top': message.isTop}" on-hold="popupMessageOpthins(message)" rj-hold-active ng-repeat="message in allchatmessages | orderBy:['isTop', 'lastMessage.timeFrome1970']:true" ng-click="messageDetils(message)">-->
                        <!--<img ng-src="{{message.pic}}">-->
                        <!--<span class="rj-sm-red-icon" ng-show="showRedIcon"><p>1</p></span>-->
                        <!--<h2 ng-bind="message.name"></h2>-->
                        <!--<p class="rj-list-p" ng-bind="message.lastMessage.content"></p>-->
                        <!--<span class="rj-push-right" ng-bind="message.lastMessage.time"></span>-->
                <!--</ion-item>-->
        <!--</ion-list>-->
		</div>
	    <div class="list">
		    <a class="item item-thumbnail-left lty-list-item" href="#" style="padding-bottom: 8px !important; padding-top: 8px !important;">
			    <img src="img/adam.jpg">
			    <h2>家电维修 - 空调</h2>
			    <p>维修服务</p>
			    <p>广告语</p>
		    </a>
	    </div>
    </ion-content>
</ion-view>