<ion-view view-title="我的发布">
  <ion-content>
    <div class="list card">
      <div class="item item-avatar item-icon-right">
        <img ng-src="{{userProfile}}" ng-click="editProfile()">
        <h2>{{loginUser.userName}}</h2>
        <p>{{loginUser.description}}</p>
        <i class="icon fa fa-qrcode" aria-hidden="true"></i>
        <p><a href="#" class="subdued"></a>暂无地理位置信息</p>
      </div>
      
      <div class="item">
        <!-- <img class="full-image" src="img/adam.jpg"> -->
        <!-- <p>
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
          the content is from a card-body consisting of an image and paragraph text. The footer
          consists of tabs, icons aligned left, within the card-footer.
        </p>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p> -->

        <div class="row set-center">
          <i class="col col-25 icon fa fa-cloud fa-2x" aria-hidden="true"></i>
          <i class="col col-25 icon fa fa-picture-o fa-2x" aria-hidden="true"></i>
          <i class="col col-25 icon fa fa-video-camera fa-2x" aria-hidden="true"></i>
          <i class="col col-25 icon fa fa-id-card-o fa-2x" aria-hidden="true"></i>
        </div>
      </div>
    </div>

<!--     <div class="list">
        <a class="item item-avatar" href="#">
          <img src="img/adam.jpg">
          <span class="rj-sm-red-icon" ng-show="true"><p ng-bind="1"></p></span>
          <h2>Venkman</h2>
          <p>Back off, man. I'm a scientist.</p>
          <span class="rj-push-right">2016</span>
        </a>
        <a class="item item-avatar" href="#">
          <img src="img/adam.jpg">
          <span class="rj-sm-red-icon" ng-show="true"><p ng-bind="1"></p></span>
          <h2>Venkman</h2>
          <p>Back off, man. I'm a scientist.</p>
          <span class="rj-push-right">2016</span>
        </a>
        <a class="item item-avatar" href="#">
          <img src="img/adam.jpg">
          <span class="rj-sm-red-icon" ng-show="true"><p ng-bind="1"></p></span>
          <h2>Venkman</h2>
          <p>Back off, man. I'm a scientist.</p>
          <span class="rj-push-right">2016</span>
        </a>
    </div> -->
	  <div class="list" style="margin-bottom: 0px; padding-bottom: 0px">
		  <div class="item item-divider" style="min-height: 0px">
		  </div>
		  <a class="item item-thumbnail-left" style="padding-top: 10px; position: relative">
			  <img src="img/home.jpg">
			  <h2>家庭水电路改造</h2>
			  <div style="color: rgba(0, 0, 0, 0.7); font-size: 16px; margin-bottom: 3px">￥ 5000</div>
			  <p style="color: rgba(0, 0, 0, 0.8); font-size: 13px;word-wrap:break-word; word-break:normal;">根据工程量大小, 实际价格有所变化</p>
		  </a>
		  <div class="item item-divider" style="min-height: 0px">
		  </div>
	  </div>
    <ion-list rj-close-back-drop>
        <ion-item class="item-avatar" ng-class="{'rj-item-top': message.isTop}" on-hold="popupMessageOpthins(message)" rj-hold-active ng-repeat="message in messages | orderBy:['isTop', 'lastMessage.timeFrome1970']:true" ng-click="messageDetils(message)">
            <img ng-src="{{message.pic}}">
            <span class="rj-sm-red-icon" ng-show="message.showHints"><p ng-bind="message.noReadMessages"></p></span>
            <h2 ng-bind="message.name"></h2>
            <p class="rj-list-p" ng-bind="message.lastMessage.content"></p>
            <span class="rj-push-right" ng-bind="message.lastMessage.time"></span>
        </ion-item>
    </ion-list>

  </ion-content>
</ion-view>



<!-- <ion-content>
    <ion-list>
        <div class="card">
            <ion-item>
                <div class="video-container">
                    <iframe src="http://daniulive.com:8080/files/SmartPlayer1Stream/SmartPlayer.html" frameborder="0" width="560" height="315"></iframe>
                </div>
            </ion-item>
        </div>
        <div class="card">
            <ion-item>
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/gvI2ClWqHO0" frameborder="0" width="560" height="315"></iframe>
                </div>
            </ion-item>
        </div>
        <div class="card">
            <ion-item>
                <div class="video-container">
                    <iframe src="http://www.youtube.com/embed/uJAWaE11Jf4" frameborder="0" width="560" height="315"></iframe>
                </div>
            </ion-item>
        </div>
    </ion-list>
</ion-content> -->