<!-- <ion-header-bar align-title="left" class="bar-positive">
  <div class="h1 title">学车-搜索</div>
  <div class="buttons">
      <button class="button no-animation button-icon icon ion-android-search">
      </button>
      <button class="button no-animation button-icon icon ion-android-add">
      </button>
  </div>
</ion-header-bar> -->

<ion-view view-title="我的关注">
	<ion-nav-buttons side="right">
		<button class="button button-clear button-small" ng-click="showMenu.flag = !showMenu.flag"><i class="icon ion-wrench"></i></button>
	</ion-nav-buttons>
	<div id="menu" class="card list" style="margin: 0px 0px; position: absolute; right: 7px; top: 48px; width: 30%; z-index: 20;padding: 5px 10px 0px 10px;" ng-show="showMenu.flag">
		<div ng-click="register()" class="lty-menu-item">注册</div>
		<div class="lty-menu-item">当前页分享</div>
		<div class="lty-menu-item">联系客服</div>
		<div class="lty-menu-item">举报</div>
	</div>
	<ion-content on-tap="showMenu.flag = false">
		<div class="list">
			<div class="item item-thumbnail-left lty-list-item" ng-repeat="service in myFollowServices | sortByDistance:position">
				<img get-svc-pic pic-id="{{service.id}}" style="top: 16px">
				<h2>{{service.serviceLabelName}}</h2>
				<p>{{service.slogan}}</p>
				<p>{{service | distance: position}}</p>
				<i class="icon ion-android-favorite positive first" ng-click="unfollowService(service, $event)"></i>

			</div>

		</div>
	</ion-content>
</ion-view>
