<ion-view view-title="找教练">

  <ion-nav-buttons side="right">
      <button ng-show="isLogin()" class="button button-clear button-small" ng-click="login()">登录
      </button>
      <button ng-show="isLogin()" class="button button-clear button-small" ng-click="reserve()">注册
      </button>
  </ion-nav-buttons>

<!--   <ion-nav-bar class="bar-positive">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
 -->
  <ion-content>

    <div class="list">

      <!-- <div class="item item-divider item-button-right">
        <span class="input-label">分类搜索</span>
        <button class="button button-clear button-positive">
          <i class="icon ion-ios-search"></i>
        </button>
      </div> -->

      <div class="item item-divider">
        分类搜索
      </div>

      <a class="item" href="#">
          <form id="typeSearchForm" name="typeSearchForm">
            <div class="list">
              <label class="item item-input item-select">
                <span class="input-label">车型</span>
                <select ng-model="typeSearch.type">
                    <!-- <option ng-repeat="n in type" value="{{n}}">{{n}}</option> -->
                    <option value="C1">小车</option>
                    <option value="truck">卡车</option>
                    <option value="moto">摩托车</option>
                </select>
              </label>
              <label class="item item-input item-select">
                <span class="input-label">资质</span>
                <select ng-model="typeSearch.quality">
                    <option value="jiaoche">认证教练</option>
                    <option value="truck">非认证教练</option>
                    <option value="moto">陪练</option>
                </select>
              </label>
              <label class="item item-input item-select">
                <span class="input-label">语言</span>
                <select ng-model="typeSearch.language">
                    <option value="zhongwen">中文</option>
                    <option value="yingwen">英文</option>
                </select>
              </label>
              <label class="item item-input item-select">
                <span class="input-label">性别</span>
                <select ng-model="typeSearch.gender">
                    <option value=1>男</option>
                    <option value=0>女</option>
                </select>
              </label>
            </div>
            <button class="button button-outline button-small button-block button-positive" ng-click="searchByType()">
              提交
            </button>
          </form>
      </a>

      <div class="item item-divider">
        关键字搜索
      </div>

      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="输入关键字">
        </label>
        <button class="button button-small button-positive button-outline" ng-click="searchBtnClicked()">
          确定
        </button>
        <!-- <button class="button button-small button-positive button-outline" ng-click="login()">
          login
        </button> -->
        <!-- <a class="button button-icon icon ion-search"></a> -->
      </div>
    

     <!--  <div class="item item-divider">
        区域搜索
      </div>

      <a class="item" href="#">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" placeholder="输入地址">
        </label>

        <baidu-map options="mapOptions" ak="BV1sD84OhA6nPuydiTGEqDKMkt0ojwMF" offline="offlineOpts" style="width: 100%; height: 300px;display: block;" on-map-loaded="mapLoaded(map)">
        </baidu-map>
      </a> -->

    </div>
     <!--  <div class="item item-divider">
        关键字搜索
      </div>

      <a class="item" href="#/tab/searchresult">
        Butterfinger
      </a> -->

<!--     <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/searchresult">
        <h2>haha</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list> -->
    
  </ion-content>
</ion-view>
