<ion-view view-title="我的发布">
	<ion-nav-buttons side="right">
		<button class="button button-clear button-small" ng-click="showServiceModal()" ng-show="isLogin">新服务
		</button>
		<button class="button button-clear button-small" ng-click="showMenu.flag = !showMenu.flag"><i class="icon ion-wrench"></i></button>
	</ion-nav-buttons>
	<div id="menu" class="card list" style="margin: 0px 0px; position: absolute; right: 7px; top: 48px; width: 30%; z-index: 20;padding: 5px 10px 0px 10px;" ng-show="showMenu.flag">
		<div ng-click="register()" class="lty-menu-item">注册</div>
		<div ng-if="isLogin" class="lty-menu-item" ng-click="logout()">注销</div>
		<div ng-if="!isLogin" class="lty-menu-item" ng-click="login()">登录</div>
		<div class="lty-menu-item">当前页分享</div>
		<div class="lty-menu-item">联系客服</div>
		<div class="lty-menu-item">举报</div>
	</div>
    <ion-content on-tap="showMenu.flag = false">
        <div class="list card">
            <div class="item item-avatar item-icon-right" ng-click="showProfileModal()">
                <img src="img/ben.png">
                 <!--<img src="http://202.120.40.175:21181/student/getphoto?phone=18116214088">-->
                <h2>{{loginUser.phone == undefined?"未登录":loginUser.phone}}</h2>
                <!--<p>{{loginUser.description}}</p>-->
                <i class="icon fa fa-qrcode" aria-hidden="true"></i>
                <!--<p>当前位置: 经度{{position.getLng().toFixed(3)}} 纬度{{position.getLat().toFixed(3)}}</p>-->
	            <p get-position ></p>
            </div>
		</div>
	    <div class="list">
		    <div class="item item-thumbnail-left lty-list-item" ng-repeat="service in myPublishServices" style="padding-bottom: 8px !important; padding-top: 8px !important;" ng-click="showPublishServiceInfoModal(service)">
			    <img get-svc-pic pic-id="{{service.id}}" style="top: 10px !important;">
			    <h2>{{service.serviceLabelName}}</h2>
			    <p>{{service.slogan}}</p>
			    <!--<p>经度{{service.longitude.toFixed(4)}} 纬度{{service.latitude.toFixed(4)}}</p>-->
			    <p get-position longitude="{{service.longitude}}" latitude="{{service.latitude}}"></p>
		    </div>
	    </div>
    </ion-content>
</ion-view>