/* Empty. Add your own CSS if you like */

.item-right-textnote {
	font-size: 14px;
	color: #aaa;
    position: absolute;
	top: 18px;
	transform: translateY(-50%);
	right: 12px;
	/*float: right;
	vertical-align: middle;
	 text-align: center;*/
}

.set-center {
	text-align: center;
}

.app-use-agreement {
	width: 80%;
	font-size: 14px;
	position: absolute;  
    left: 10%;
    color: #444;
}

.register-login-btn {
	width: 80%;
	margin: 0 auto;
	padding-top: 10px;
}

/*去掉ng-hide的动画*/
.ng-hide.ng-hide-animate{
     display: none !important;
}
